{% extends "base.html" %} {% load static %} {% block title %}Home{% endblock %}
{% block content%}
<section class="hero">
  <img
    src="{% static 'images/kliniken_hero.jpg' %}"
    alt="Stetoscope on a black and white background"
  />
  <h2>Welcome to Kliniken</h2>
  <p>
    Book an appointment with the doctor to get your health checked up today!
  </p>
  <a href="{% url 'my_bookings' %}" class="btn">Book Now</a>
</section>

<section class="opening-hours">
  <h3>Opening Hours</h3>
  <p>Monday to Friday: 10:00 - 16:00</p>
</section>

{% endblock %}
