body {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.hero-image {
    width: 55vw;
    height: 55vh;
    margin: 10px;
}

.hero {
    text-align: center;
    margin-bottom: 10px;
}

.opening-hours {
    text-align: center;
}

.btn {
    text-transform: uppercase;
}